.btn-container {
    width: 100%;
    margin-top: 1%;
}

.btn {
    background-color: #439EBD;
    width: 40%;
    height: 10%;
    margin: 2% 30%;
    border: 2px solid black;
    border-radius: 10%/20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}