.footer {
    width: 100%;
    height: 20%;
    margin-top: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.social-icon {
    width: 10%;
    margin: 1%;
}