html,
body {
    margin: 0;
    padding: 0;
    background-color: #439EBD;
    
    
}



html,
body, 
#root,
.App,
.fullHeight {
  height: 100%;
  min-height: 100%;
  
}

p {
  font-family: forma-djr-micro, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 1.1em;
  margin: 0;

}

h1 {
  font-family: bungee, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #063F5C;
  margin: 0;
}

h2 {
  font-family: bungee, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #063F5C;
  margin: 0;
}

h3 {
  font-family: forma-djr-micro, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #063F5C;
  margin: 0;
}